html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#content {
    background-image: url("../img/pexels-valeria-boltneva-1639565.jpg");
    background-size: cover;
    height: 100vh;
}

nav {
    background-color: black;
    color: cornsilk;
    font-size: 3rem;
    padding: 1.5rem 0;
    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        li:hover{
            cursor: pointer;
        }
    }
}




main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.landing {

    margin-left: 10%;

    h2, h3 {
        color: white;
        
    }
    
    h2 {
       font-size: 7rem;
    }
    
    h3 {
        font-size: 4rem;
    }
}



.menucontent {
    margin-left: 10%;
    border: cornsilk 3px solid;
    border-radius: 1.5rem;
    padding: 4rem 3rem;

    ul {
        list-style: none;
        li {
            padding: 1.5rem 0;
        }
    }

    h4{
        font-size: 4rem;
    }
    p {
        font-size: 2rem;
    }
    
}

.contactpage {

    margin-left: 15%;
    border: cornsilk 3px solid;
    border-radius: 1.5rem;
    padding: 4rem 3rem;
    h2 {
        font-size: 5rem;
        padding: 1rem 0;
     }
    p {
        font-size: 2.5rem;
        padding: 1rem 0;
        line-height: 1.3;
    }
}